<div class="w-full h-80 rounded-lg bg-gray-950 flex flex-col group">
  <% if blog_post.banner_image.attached? %>
    <%= image_tag blog_post.banner_image, class: "h-64 w-full object-cover rounded-t-lg group-hover-scale-103" %>
  <% else %>
    <%= image_tag "image.jpeg", class: "h-64 w-full object-cover rounded-t-lg" %>
  <% end %>

  <div class="h-16 px-4 py-4">
      <p class="text-sm text-indigo-100 overflow-hidden font-semibold">
          <%= blog_post.title %>
      </p>
  </div>

  <div class="w-full flex items-center justify-center p-4">
    <%= link_to "Read post", blog_post, class: "px-4 py-2 rounded-lg bg-[#d7336d] text-white hover:opacity-90 transition-opacity hover:scale-103" %>
  </div>
</div>
 23:23 video
