<% content_for :title, "Blog posts" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Blog posts</h1>
    <%= link_to "New blog post", new_blog_post_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" if current_admin %>
  </div>

  <div id="blog_posts" class="min-w-full grid md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8">
    <%= render @blog_posts %>
  </div>
</div>
